<template>
    <div id="cart">
        <dl v-for="(v,i) in arr">
            <dt><img :src="v.url" alt=""></dt>
            <dd>
                <h2>{{v.name}}</h2>
                <p>{{v.info}}</p>
                <div class="bottom">
                    <div class="price">￥{{v.price}}</div>
                    <div class="count">
                        <span v-show="v.count > 0 ? true : false" class="reduce" @click="reduce(i)">-</span>
                        <span v-show="v.count > 0 ? true : false" class="num">{{v.count}}</span>
                        <span class="add" @click="add(i)">+</span>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</template>

<script>
export default {
    name:'cart',
    computed: {
        arr() {
            return this.$store.state.carList;
        }
    },
    methods: {
        add(index) {
            this.$store.commit('changeCarlistAdd',{index:index});
        },
        reduce(index) {
            this.$store.commit('changeCarlistReduce',{index:index});
        }
    }
}
</script>
