<template>
    <div class="classify">
        <ul class="left">
            <li v-for="(v,i) in newList" :class="index === i ? 'active' : ''" @click="changeIndex(i)">
                {{v.title}}    
            </li>
        </ul>
        <div class="right">
            <dl v-for="(v,i) in newList[index].child">
                <dt><img :src="v.url" alt=""></dt>
                <dd>
                    <h2>{{v.name}}</h2>
                    <p>{{v.info}}</p>
                    <div class="bottom">
                        <div class="price">￥{{v.price}}</div>
                        <div class="count">
                            <span v-show="v.count > 0 ? true : false" class="reduce" @click="reduce(i)">-</span>
                            <span v-show="v.count > 0 ? true : false" class="num">{{v.count}}</span>
                            <span class="add" @click="add(i)">+</span>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</template>
<script>
export default {
    name:'classify',
    data() {
        return {
            index:0
        }
    },
    computed: {
        newList() {
            return this.$store.state.list;
        }
    },
    methods:{
        changeIndex(index) {
            this.$data.index = index;
        },
        add(index) {
            this.$store.commit('changeCount',{index:this.index,ind:index});
        },
        reduce(index) {
            this.$store.commit('changeReduce',{index:this.index,ind:index});
        }
    }
}
</script>

<style>
    .classify{
        width: 100%;
        height: 100%;
        display: flex;
    }
    .left{
        width: 25%;
        height: 100%;
        border-right: 1px solid #ccc;
    }
    .left>li{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        line-height: 50px;
    }
    .right{
        flex:1;
        height: 100%;
        overflow-y: auto;
        padding-left: 10px;
    }
    .active{
        background: #eee;
    }
    dl{
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }
    dt{
        width: 95px;
        height: 95px;
    }
    dt>img{
        display: block;
        width: 100%;
        height: auto;
    }
    dd{
        flex: 1;
        height: 100%;
        margin-left: 10px;
    }
    h2{
        font-weight: normal;
        font-size: 14px;
        margin-top: 15px;
    }
    p{
        font-size: 12px;
        color: #666;
        line-height: 2;
    }
    .bottom{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right:20px; 
    }
    .price{
        color: red;
    }
    .count{
        display: flex;
        align-items: center;
    }
    .reduce,.add{
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        border-radius: 50%;
        text-align: center;
        line-height: 15px;
    }
    .num{
        margin: 0 5px;
    }
</style>