<template>
  <div id="app">
      <div class="top">
          <router-view></router-view>
      </div>
      <div class="bottom">
          <router-link to="/index" tag="span">首页</router-link>
          <router-link to="/classify" tag="span">分类</router-link>
          <router-link to="/find" tag="span">发现</router-link>
          <router-link to="/cart" tag="span" class="cart">购物车<span class="carNum" v-show="newNum > 0 ? true : false">{{newNum}}</span></router-link>
          <router-link to="/mine" tag="span">我的</router-link>
      </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
     newNum() {
          return  this.$store.state.num;
     }
  }
}
</script>

<style>
html,body{
  width: 100%;
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
#app{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.top{
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
.bottom{
  width: 100%;
  height: 44px;
  display: flex;
}
.bottom>span{
  width: 20%;
  height: 100%;
  text-align: center;
  line-height: 44px;
}
.router-link-exact-active{
  color: red;
}
.cart{
  position: relative;
}
.carNum{
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}
</style>
